@charset "UTF-8";

@font-face {
    font-family:'titulo';
    src: url('../font/CartoGothicStd-Book.otf') format(opentype);
}

 
:root {
    --cor0: #DA9200;
    --cor1: #EFE7D7;
    --cor2: #F0B545;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'titulo';
}
/*
body {
    position: relative;
}
header {
   background-color: var(--cor0);
    margin: 0px;
    padding-top: 5px;
    min-height: 40px;
    max-height: 50px ;
    color: white;
    text-align: left;
    font-family: arial, sans-serif;
    font-weight: lighter;
    padding-left: 15%;
    padding-top: 25px;

}



nav {
    background-color: rgba(0, 0, 0, 0.822);
    min-height: 59px;
    max-height: 100px;
    position: sticky;
    top: 0px;
    align-items: center;   
}

i#burguer {
    display: block;
    color: #EFE7D7;
    text-align: right;
    padding: 15px 30px;
}
i#burguer:hover {
    background-color: rgba(112, 112, 112, 0.521);
    cursor: pointer;

}
nav > a { 
    padding-left: 8% ;
    position: absolute;
    padding-top: 3px;
    
}
nav > ul {
    display: block;
}

nav > div > ul {
    width: 1000px;
    text-align: right;
    
 }

 div > ul > li{
    list-style-type: none;
    padding: 4px;
    padding-top: 15px;
     
}
ul > li > a {
    color: white;
    font-family: 'titulo',Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1.1em;
    
}
*/
header img {
    margin-left: 30px;
    margin-top: 3px;
}

nav {
    display: block;
    text-align: center;
    font-family: 'titulo';
    background-color: black;
    min-height: 59px;
    margin-top: -60px;
   
}

i#burguer {
    display: block;
    color: #EFE7D7;
    text-align: right;
    padding: 15px 30px;
}
i#burguer:hover {
    background-color: rgba(0, 0, 0, 0.521);
    cursor: pointer;

}
div {
    display: none;
    
}

ul > li{
    list-style: none;
    padding-top: 12px;
    text-align: right;
    padding-right: px;
    
 
}
div > ul > li > a {
    display: block;
    padding: 10px;
    text-align: none;
    text-decoration: none;
    color: white;
    font-family: 'titulo' ;
}
li a:hover {
    color: var(--cor0);
}

